.container-fluid{
    margin-top: 100px;
    font-family: 'Lato', sans-serif;;
}
.title-page{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: black;
}
.pargraph{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.card-title h6{
    text-transform: capitalize;
}
.showRoom{
  font-size: 20px;
}
p>i{
    margin-left: 15px;
}
.showRoom>p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Nproducts{
    display: flex;
    justify-content: flex-end;
    color: black;
}
.card-img{
    padding: 20px;
}
small{
    font-size: 20px;
}
.section-product-view{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 0px 10px;
}



.category-material-product{
display: flex;
column-gap: 5px;
justify-content: center;
}

.card{
    border: none;
    position: relative;
}
.card::after{
    content: " ";
width: 100%;
height: 1px;
background-color: #000000;
position: absolute;
bottom: 0px;
left: 0px;
}

.card-text{
    display: flex;
    column-gap: 5px;
    justify-content: center;
}
.card-img img{
    width: 100%;
    height: 200px;
}

.image-subcategory img{
    height: 300px;
    }