.logo-imag-maison{
    width: 50%;
    margin: auto;
    margin-top: 40px;
}

.section-title-faq{
    width: 100%;
    position: relative;
}
.section-title-faq::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000000;
    position: absolute;
    bottom: -5px;
    left: 0px;
}

.number-list{
    margin-top: 40px;
}

.question-item{
    font-weight: 900;
    font-size: 18px;
}
.answer-item{
    margin-top: 5px;
}