<div class="container">
    <div class="title-product-selection">
        <h5>PRODUCT SELECTIONS</h5>
    </div>
</div>

<section class="section-product-view">
    <div class="container">
    <div class="row">
        <div class="col-md-4" >
            <div class="card mb-4">
                <div class="card-img" routerLink="/product-details">
                    <img src="../../assets/images/image1.jpg" alt="nn.png">
                </div>
                <div class="card-body">
                    <div class="card-title text-center mt-6">
                        <h5>product name</h5>
                    </div>
                    <div class="card-text mb-4">
                        <p>category product</p>
                        <p>materia product</p>
                    </div>

                    <div class="remove-wast-product">
                        <img src="../../assets/icons/trash-can_38501.png" alt="nn.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>