<div class="container">
    <section class="section-parent" >
        <div class="left-section-personal-info" >
            <h4 class="title-info">{{'My Personal Info'|translate}}</h4>
            <p class="your-email">{{'My Email'|translate}}: {{email}}  </p>
         
            <p class="your-name">{{'My Name'|translate}}: {{name}}  </p>
        </div>
        <button type="button" (click)="logOut()">{{'LOG OUT'|translate}}</button>
    </section>
</div>
<div class="foot">
    <app-footer></app-footer>
</div>

<!--  aya@gmail.com 
Aya
-->