.section-title-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number-of-result{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.input-search{
    display: flex;
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.input-search input{
    width: 100%;
    padding: 5px;
    position: relative;
}
.input-search img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    right: 18px;
   
}

.after-liner{
    width: 100%;
    height: 1px;
    background-color: #777474;
    margin-top: 20px;
   
}

.section-product-view{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 0px 10px;
    margin-top: 30px;
}
.desc{
    margin: auto;
}
.desc > p{
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow-wrap: break-word;
    white-space: normal;
   
}



.category-material-product{
display: flex;
column-gap: 5px;
justify-content: center;
}

.card{
    border: none;
    position: relative;
}
.card::after{
    content: " ";
width: 100%;
height: 1px;
background-color: #000000;
position: absolute;
bottom: 0px;
left: 0px;
}


.card-img img{
    width: 100%;
    height: 200px;
}


.see-more-button{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
 
 }

 .see-more-button::after{
     content: " ";
     width: 100%;
     height: 1px;
     background-color: #1e0e0e;
     position: absolute;
     bottom: 0px;
     left: 0px;
 }
 .button-more{
border: 1px solid #000000;
padding:10px 40px;
 }
 .button-more:hover{
    cursor: pointer;
    background-color: #c52222;
    color: #ffffff;
 }
 @media (max-width:767px){
    .section-title-search{
        width: 100%;
        max-width: 100%;
    }
    .input-search{
        width: 80%;
        margin: auto;
    }
 }