<section class="section-slider-view-project">
    <igx-carousel animationType="fade" [interval]="5000">

        <igx-slide *ngFor="let slide of slides">
            <img src="https://maisonciel.com.tr/{{slide}}" alt="ff">
        </igx-slide>

    </igx-carousel>
</section>

<section class="section-image-title-project">
    <div class="container">
        <div class="row" *ngFor="let project of projects">
            <div class="col-md-5 mt-3">
                <div class="card-image" routerLink="/project-details/{{project.id}}">
                    <img src="https://maisonciel.com.tr/{{project.images[0]}}" alt="">
                </div>
            </div> 

            <div class="col-md-7  mt-3">
                <h5 class="name-project" routerLink="/project-details/{{project.id}}">{{project.translations.title}}
                </h5>
                <p class="detail-project" [innerHTML]="project.translations.description"></p>
                <a href="https://maisonciel.com.tr/{{project.pdf}}" target="_blank" style="color: red;">
                    <img class="imag-pdf ms-1" src="../../../assets/icons/file_pdf_download_icon-icons.com_68954.png"></a>
            </div>
        </div>
    </div>
</section>

<section class="back-to-top">
    <p class="text-back-top" (click)=" scrollToTop()">
        {{'Back to top'|translate}}
    </p>
</section>
<div class="foot">
    <app-footer></app-footer>
</div>
