.section-title-search{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.number-of-result{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.input-search{
    display: flex;
  
    width: 50%;
    margin: auto;
    margin-top: 25px;
    position: relative;
}

.input-search input{
    width: 100%;
    padding: 5px;
    position: relative;
}
.input-search img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    right: 18px;
   
}

.after-liner{
    width: 100%;
    height: 1px;
    background-color: #777474;
    margin-top: 20px;
   
}

.section-product-view{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 0px 10px;
    margin-top: 30px;
}




.category-material-product{
display: flex;
column-gap: 5px;
justify-content: center;
}

.card{
    border: none;
    position: relative;
    
}
/* .card::after{
    content: " ";
width: 100%;
height: 1px;
background-color: #000000;
position: absolute;
bottom: 0px;
left: 0px;
} */

 /* .card-text11{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
} 
.card-text11 p {
    overflow-wrap: break-word;
    white-space: normal;
  } */
  .card-img{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.card-img img{
    width: 80%;
    height: 200px;
}
.desc p{
    height: auto;
    padding: 10px;
    overflow-wrap: break-word;
    white-space: normal;
    
}


.see-more-button{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.see-more-button::after{
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #1e0e0e;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.button-more{
border: 1px solid #000000;
padding:10px 40px;
}
.button-more:hover{
   cursor: pointer;
   background-color: #c52222;
   color: #ffffff;
}